* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,div,span,applet,object,iframe,a,img {
  margin: 0;
  font-family: 'Roboto Slab', san-serif;
}/* VIEW SIZE  *//* COLORS WEBSITE */footer {
  height: 130px;
  background-color: #304268;
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
}

.footer-text {
  margin-top: 0px;
}

span {
  color: #f26002;
}

.reasons {
  text-align: center;
  background-color: #eff9ff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.rows-container {
  margin: 0 auto;
  width: 184px;
}

.row {
  margin-top: 45px;
}

.introduction {
  padding-left: 15px;
  padding-right: 15px;
}

.prefix {
  color: #8ccbea;
  margin-top: 30px;
}

.introduction-text {
  color: #4a4a4a;
}

.circle-button {
  display: block;
  margin: auto;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  cursor: pointer;
}

.square-button {
  width: 44px;
  height: 44px;
  border: none;
  outline: none;
  cursor: pointer;
}

.arrow-down {
  background-color: #fff;
  background-image: url("../images/ico-scroll-down.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-up {
  background-color: #fff;
  background-image: url("../images/ico-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: -20px;
  position: relative;
}

.gointro {
  margin-top: 30px;
  margin-bottom: 45px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #fff;
  outline: none;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
  color: #f26002;
  font-size: 20px;
  font-weight: 500;
}

.gointro:hover {
  background-color: #f26002;
  color: #fff;
}

.more-button {
  margin-top: 20px;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #f26002;
  outline: none;
  border: solid 2px #f26002;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.more-button:hover {
  background-color: #fff;
  color: #f26002;
}/* NAVIGATION */.open-button {
  background-color: #0271bc;
  position: absolute;
}

.open-button:hover {
  background: #f26002;
}

.close-button {
  background-color: #f26002;
  position: absolute;
  right: -16%;
}

.close-button:hover {
  background: #0271bc;
}

.hero {
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 254px 15px 174px;
}

.light-color {
  color: #fff;
}

.hero-title {
  margin: 0 auto;
  width: 290px;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.31;
  text-transform: uppercase;
  margin-bottom: 0;
}

.hero-subtitle {
  margin-top: 10px;
  margin-bottom: 45px;
}/* NAVIGATION LIST*/.top-nav-menu {
  list-style: none;
  padding-left: 0;
  padding-top: 28px;
}

.menu-item {
  color: #000;
  border-bottom: 1px solid #8ccbea;
}

.menu-item:first-child {
  border-top: 1px solid #8ccbea;
}

.menu-link {
  text-decoration: none;
  display: block;
  padding: 14px 14px;
}

.menu-link:hover {
  color: #8ccbea;
}/* NAVIGATION INTERACTIONS */.open-nav-menu::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.nav-menu {
  position: absolute;
  height: 100%;
  width: 276px;
  background: rgba(255, 255, 255, 0.96);
  left: -100%;
  top: 0;
  -webkit-transition: left ease 0.8s;
  transition: left ease 0.8s;
}

.open-nav-menu .nav-menu {
  left: 0;
  z-index: 1;
}

/*# sourceMappingURL=main.css.map */
