//ABSOLUTE
* {
  box-sizing: border-box;
}


//BODY
body,div,span,applet,object,iframe,a, img {
  margin: 0;
  font-family: 'Roboto Slab', san-serif;

}


/* VIEW SIZE  */
$view-height: 100vh;

/* COLORS WEBSITE */
$colors: (
  primarylight-color: #fff,
  secondarylight-color: #8ccbea,
  tertiarylight-color: #eff9ff,
  medium-color: #4a4a4a,
  mediumdark-color: #304268,
  dark-color: #000,
  cta-color: #f26002,
  hamburguer-color: #0271bc,
)
