.reasons {
  text-align: center;
  background-color: map-get($colors, 'tertiarylight-color');
  @include paddingmobile();
  padding-top: 30px;
  padding-bottom: 60px;
}


.rows-container {
  margin: 0 auto;
  width: 184px;
}

.row {
  margin-top: 45px;
}
