/* H1 FONT SIZE */
$h1-size-mobile: 42px;
$h1-size-tablet: 80px;
$h1-size-desktop: 100px;

/* H2 FONT SIZE */
$h2-size-mobile: 24px;
$h2-size-tablet: 26px;
$h2-size-desktop: 32px;

/* H3 FONT SIZE */
$h3-size-mobile: 18px;
$h3-size-tablet: 24px;
$h3-size-desktop: 24px;

/* P FONT SIZE */
$p-size-mobile: 16px;
$p-size-tabletdesktop: 20px;

$line-height: 1.67;

.second-title {
  font-size: 24px;
  @media all and (min-width:768px) {
    font-size: 26px;
  }
  @media all and (min-width:1280px) {
    font-size: 32px;
  }
}

.third-title {
  font-size: 18px;
  margin-top: 0;
  @media all and (min-width:768px) {
    font-size: 24px;
  }
}

p {
  @media all and (min-width:768px) {
    font-size: 16px;
  }
  @media all and (min-width:1280px) {
    font-size: 20px;
  }
}
